:root {
    --white: rgba(255, 255, 255, 1);
    --accent-1: rgba(62, 213, 221, 1);
    --paragraph: rgba(74, 74, 74, 1);
    --main-text: rgba(72, 72, 72, 1);
    --bg-dark: rgba(23, 23, 23, 1);
    --style: rgba(170, 170, 170, 0.06);
    --headings-h1-600-font-family: "Titillium Web", Helvetica;
    --headings-h1-600-font-weight: 700;
    --headings-h1-600-font-size: 90px;
    --headings-h1-600-letter-spacing: -0.9px;
    --headings-h1-600-line-height: 100%;
    --headings-h1-600-font-style: normal;
    --main-text-p1-400-font-family: "Poppins", Helvetica;
    --main-text-p1-400-font-weight: 400;
    --main-text-p1-400-font-size: 16px;
    --main-text-p1-400-letter-spacing: 0px;
    --main-text-p1-400-line-height: 23px;
    --main-text-p1-400-font-style: normal;
    --button-font-family: "Titillium Web", Helvetica;
    --button-font-weight: 700;
    --button-font-size: 24px;
    --button-letter-spacing: 0px;
    --button-line-height: 24px;
    --button-font-style: normal;
    --headings-h4-600-font-family: "Titillium Web", Helvetica;
    --headings-h4-600-font-weight: 600;
    --headings-h4-600-font-size: 38px;
    --headings-h4-600-letter-spacing: 0px;
    --headings-h4-600-line-height: 48px;
    --headings-h4-600-font-style: normal;
    --headings-h7-600-font-family: "Titillium Web", Helvetica;
    --headings-h7-600-font-weight: 600;
    --headings-h7-600-font-size: 16px;
    --headings-h7-600-letter-spacing: 0px;
    --headings-h7-600-line-height: 24px;
    --headings-h7-600-font-style: normal;
    --headings-h6-600-font-family: "Signika", Helvetica;
    --headings-h6-600-font-weight: 500;
    --headings-h6-600-font-size: 21px;
    --headings-h6-600-letter-spacing: 0px;
    --headings-h6-600-line-height: 24px;
    --headings-h6-600-font-style: normal;
    --headings-h2-600-font-family: "Titillium Web", Helvetica;
    --headings-h2-600-font-weight: 600;
    --headings-h2-600-font-size: 67px;
    --headings-h2-600-letter-spacing: 0px;
    --headings-h2-600-line-height: 70px;
    --headings-h2-600-font-style: normal;
    --headings-h5-600-font-family: "Titillium Web", Helvetica;
    --headings-h5-600-font-weight: 600;
    --headings-h5-600-font-size: 28px;
    --headings-h5-600-letter-spacing: 0px;
    --headings-h5-600-line-height: 32px;
    --headings-h5-600-font-style: normal;
    --main-text-p2-400-font-family: "Poppins", Helvetica;
    --main-text-p2-400-font-weight: 400;
    --main-text-p2-400-font-size: 12px;
    --main-text-p2-400-letter-spacing: 0px;
    --main-text-p2-400-line-height: 16px;
    --main-text-p2-400-font-style: normal;
    --drop-shadow: 0px 0px 10px 0px rgba(62, 213, 221, 0.56);
  }
  